// KeyFrames
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#app-mount {
  // Reload
  .SwitchItemReloadIcon.reloading path {
    animation: spin .3s infinite ease-in-out;
    transform-origin: 62.5% 62.5%
  }
  // Settings
  .DrDiscordSettingsTabBar {
    margin-bottom: 10px;
    margin-top: 2px;
    flex: unset;
    flex-direction: row;
    &.IconsOnly {
      svg {
        margin-right: unset !important;
      }
    }
    .item-PXvHYJ {
      border-radius: 4px;
      margin: 1px 5px;
      padding: 2px 8px;
      svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        transform: translateY(2px)
      }
    }
  }
  .DrDiscordSettingsTabBarWrapper {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% + 5px));
    background-color: var(--background-primary);
    border-radius: 5px 5px 0 0;
    .DrDiscordSettingsTabBar {
      margin-top: 4px;
      margin-bottom: 5px;
    }
  }
}
//
.content-1LAB8Z {
  height: 400px;
  &[datapage="3"] {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0;
  }
  #custom-css {
    height: 100%;
    border-radius: 8px;
  }
  .monaco-editor, .overflow-guard {
    border-radius: 0 0 5px 5px;
  }
}
//
.markup-2BOw-j pre {
  position: relative;
  .dr-discord-codeblock-copy-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px 0;
    color: var(--header-secondary);
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    transition: all .2s ease-in-out;
    &:hover {
      background: var(--background-tertiary);
      color: var(--header-primary);
    }
  }
}
//
.DR-collapsable-section {
  margin-bottom: 16px;
  .DR-collapsable-section-content{
    &:not(.DR-collapsable-section-content-open) {
      display: none;
    }
  }
}