// KeyFrames
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#app-mount {
  // Reload
  .SwitchItemReloadIcon.reloading path {
    animation: spin .3s infinite ease-in-out;
    transform-origin: 62.5% 62.5%
  }
  // Settings
  .Dr-SettingsTabBar {
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 0;
    flex: unset;
    flex-direction: row;
    .item-3XjbnG {
      border-radius: 4px;
      margin: 1px 5px;
      padding: 2px 8px;
      svg {
        &:only-child {
          margin-right: unset !important;
        }
        width: 16px;
        height: 16px;
        margin-right: 4px;
        transform: translateY(2px)
      }
    }
  }
  .Dr-SettingsTabBarWrapper {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% + 5px));
    background-color: var(--background-primary);
    border-radius: 5px 5px 0 0;
    .Dr-SettingsTabBar {
      margin-top: 4px;
      margin-bottom: 5px;
    }
  }
}
//
.Dr-SettingsModal {
  min-width: 800px;
  max-width: 800px;
}
.Dr-SettingsModal .content-2hZxGK {
  &[datapage="3"], &[datapage="5"] {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0
  }
  #cjs {
    .Dr-CustomJS-Top {
      margin: 0 16px 6px;
      &>button {
        width: 32px;
        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .divider-_0um2u {
      display: none;
    }
    .container-1zDvAE {
      .title-2dsDLn {
        margin-right: 30px
      }
      margin-bottom: 0;
      margin-left: auto;

      padding-top: 8px;
    }
    height: 100%;
  }
  #monaco-editor { border-radius: 8px }
  .monaco-editor, .overflow-guard { border-radius: 0 0 5px 5px }
  .context-view { 
    z-index: 999999;
    position: fixed 
  }
  height: 400px
}
//
.markup-eYLPri pre {
  position: relative;
  & > code:not(:only-child) {
    padding-bottom: 29px;
  }
  .Dr-codeblock-copy-button, .Dr-codeblock-add-plugin {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px 0;
    color: var(--header-secondary);
    border: 1px solid var(--background-tertiary);
    background: var(--background-secondary);
    transition: all .2s ease-in-out;
    &:hover { color: var(--header-primary) }
  }
}
//
.Dr-DiscordLogo { width: 100% }
//
#monaco-editor { height: 100% }
//
#custom-css-popout {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999999;
  border: 1px solid var(--background-secondary-alt);
  background-color: var(--background-tertiary);
  border-radius: 8px 8px 8px 8px;
  &-content {
    &-wrapper {
      height: calc(100% - var(--header));
    }
    min-width: 400px;
    min-height: 400px;
    height: 100%;
    .monaco-editor, .overflow-guard {
      border-radius: 0 0 5px 5px;
    }
  }
  &-header {
    padding: 5px;
    border-radius: 5px 5px 0 0;
  }
  &-resizer {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
  }
}
//
#DrApi-context-menu {
  --brand-experiment-600: hsl(140, calc(var(--saturation-factor, 1) * 49.6%), 40%);
  --brand-experiment-560: hsl(140, calc(var(--saturation-factor, 1) * 69.6%), 40%);
}
// Minimal mode
.minimal-mode {
  .privateChannels-oVe7HL > .scroller-WSmht3 > .content-2a4AW9 {
    & > a:not([href*="/channels/@me/"]) {
      &:first-of-type {  margin-left: 8px !important }
      .content-1U25dZ { display: none }
      .avatar-6qzftW { margin: 0 !important }
      .children-283-lq {
        position: absolute;
        transform: translate(4px, 8px);
        box-shadow: 0 0 0 3px var(--background-secondary);
        border-radius: 100px
      }
      flex-grow: 1;
      margin-top: 8px !important; 
      margin-left: 0
    } 
    & > a[href*="/channels/@me/"] { width: 100% }
    & > h2 { width: 100% }
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
  }
  .membersWrap-3NUR2t {
    .members-3WRCEx { width: 200px }
    min-width: 200px
  }
  .sidebar-1tnWFu {
    .bannerVisible-Vkyg1I ~ .scroller-1ox3I2 [style="height: 84px;"] { height: 47.25px !important }
    .bannerImage-ubW8K-, .animatedContainer-2laTjx, .bannerImg-2PzH6z {
      width: 200px;
      height: 112.5px
    }
    width: 200px
  }
  .container-1eD8xH { margin-top: 7px }
  .panels-3wFtMD {
    & > .container-YkUktl {
      position: relative;
      .flex-2S1XBF {
        background-color: var(--background-secondary-alt);
        padding: 4px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 4px;
        transform: translateY(18px);
        &:hover {
          & > button:not(:last-child):not(:first-child) { display: block }
          transform: translateY(-18px)
        }
        & > button {
          &:first-child { order: 1 }
          &:last-child { order: 2 }
          &:not(:last-child):not(:first-child) { display: none }
        }
      }
      z-index: 4
    }
    .standardSidebarView-E9Pc3j {
      .sidebarRegion-1VBisG {
        flex: 0 0 218px;
      }
      .contentColumn-1C7as6, .customColumn-2n-oKU {
        flex: 0 0 calc(100% - 80px);
        max-width: 100%;
        min-width: 460px;
      }
    }
  }
}
//
.Dr-SettingsTop {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  & > button {
    width: 100%;
    flex: 0 6 auto;
  }
  & > div {
    display: flex;
    width: 100%;
    & > :first-child {
      flex: 1;
      margin: 0 10px 0 40px
    }
  }
}
.Dr-SettingsAddons:not(.Empty) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  color: var(--text-normal);
  .Dr-card {
    border-radius: 4px;
    padding: 6px;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary-alt);
    &:last-child:nth-child(odd) {
      width: calc(200% - 8px);
    }
    &:hover {
      background-color: var(--background-secondary-alt);
      border: 1px solid var(--background-secondary)
    }
    &-header{
      &-top {
        margin-bottom: 4px;
        display: flex
      }
      &-author {
        width: fit-content;
      }
      &-name {
        margin-right: 6px;
        font-weight: bold;
        font-size: 20px
      }
      &-version {
        font-size: 14px;
        color: var(--text-muted);
        transform: translateY(4px)
      }
      &-wrapper {
        padding: 6px
      }
    }
    &-content-wrapper {
      padding: 6px
    }
    &-footer {
      &-left {
        &-settings {
          & > svg { margin: 1px }
          width: 26px;
          height: 26px
        }
      }
      &-wrapper {
        padding: 6px;
        height: 26px;
      }
      &-switch {
        margin-left: auto
      }
      display: flex
    }
  }
}
// Badges
.Dr-Badge [d] {
  color: var(--text-normal)
}