// KeyFrames
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#app-mount {
  // Reload
  .SwitchItemReloadIcon.reloading path {
    animation: spin .3s infinite ease-in-out;
    transform-origin: 62.5% 62.5%
  }
  // Settings
  .DrDiscordSettingsTabBar {
    margin-bottom: 10px;
    margin-top: 2px;
    flex: unset;
    flex-direction: row;
    &.IconsOnly {
      svg {
        margin-right: unset !important;
      }
    }
    .item-PXvHYJ {
      border-radius: 4px;
      margin: 1px 5px;
      padding: 2px 8px;
      svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        transform: translateY(2px)
      }
    }
  }
  .DrDiscordSettingsTabBarWrapper {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% + 5px));
    background-color: var(--background-primary);
    border-radius: 5px 5px 0 0;
    .DrDiscordSettingsTabBar {
      margin-top: 4px;
      margin-bottom: 5px;
    }
  }
}
//
.content-1LAB8Z {
  height: 400px;
  &[datapage="3"] {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 0;
  }
  #custom-css {
    border-radius: 8px;
  }
  .monaco-editor, .overflow-guard {
    border-radius: 0 0 5px 5px;
  }
}
//
.markup-2BOw-j pre {
  position: relative;
  .dr-discord-codeblock-copy-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px 0;
    color: var(--header-secondary);
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    transition: all .2s ease-in-out;
    &:hover {
      background: var(--background-tertiary);
      color: var(--header-primary);
    }
  }
}
//
.DR-collapsable-section {
  margin-bottom: 16px;
  .DR-collapsable-section-content{
    &:not(.DR-collapsable-section-content-open) {
      display: none;
    }
  }
}
//
.DrDiscordDiscordLogo {
  width: 100%;
}
//
#custom-css {
  height: 100%;
  width: 100%;
}
//
#custom-css-popout {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999999;
  border: 1px solid var(--background-secondary-alt);
  background-color: var(--background-tertiary);
  border-radius: 8px 8px 0 8px;
  &-content {
    &-wrapper {
      height: calc(100% - var(--header) - 10px);
      margin-bottom: 10px;
    }
    min-width: 400px;
    min-height: 400px;
    height: 100%;
    margin-bottom: 10px;
    .monaco-editor, .overflow-guard {
      border-radius: 0 0 0 5px;
    }
  }
  &-header {
    padding: 5px;
    border-radius: 5px 5px 0 0;
  }
  &-resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px 0 0 5px;
    cursor: nwse-resize;
  }
}
//
#DrApi-context-menu {
  --brand-experiment-600: hsl(140, calc(var(--saturation-factor, 1) * 49.6%), 40%);
  --brand-experiment-560: hsl(140, calc(var(--saturation-factor, 1) * 69.6%), 40%);
}